package components

import (
	"fmt"
	"github.com/yulog/mi-diary/domain/model"
)

templ HashTags(profile string, items []model.HashTag) {
	<div class="tags ml-5">
		for _, item := range items {
			<a href={ templ.URL(fmt.Sprintf("/profiles/%s/hashtags/%s", profile, item.Text)) } class="tag">
				{ item.Text } ( { fmt.Sprintf("%d", item.Count) } )
			</a>
		}
	</div>
}
