package components

import (
	"fmt"
	"github.com/yulog/mi-diary/model"
)

templ HashTag(profile string, items []model.HashTag) {
	<ul>
		for _, item := range items {
			<li>
				<a href={ templ.URL(fmt.Sprintf("/%s/hashtags/%s", profile, item.Text)) }>
					{ item.Text } ( { fmt.Sprintf("%d", item.Count) } )
				</a>
			</li>
		}
	</ul>
}
