package components

import (
	"fmt"
	"github.com/yulog/mi-diary/model"
)

templ HashTag(items []model.HashTag) {
	<ul>
		for _, item := range items {
			<li>
				<a href={ templ.URL(fmt.Sprintf("./hashtags/%s", item.Text)) } hx-push-url="true">
					{ item.Text } ( { fmt.Sprintf("%d", item.Count) } )
				</a>
			</li>
		}
	</ul>
}
