package components

templ Index(title string, reaction templ.Component, tags templ.Component) {
	@Base(title) {
		<a href="/settings">settings</a>
		<div>
			@reaction
		</div>
		<div>
			@tags
		</div>
	}
}
