package components

import (
	"fmt"
	"github.com/yulog/mi-diary/model"
)

templ Reaction(items []model.Reaction) {
	<ul>
		for _, item := range items {
			<li>
				<a href={ templ.URL(fmt.Sprintf("./reactions/%s", item.Name)) }>
					{ item.Name } ( { fmt.Sprintf("%d", item.Count) } )
				</a>
			</li>
		}
	</ul>
}
