package components

import (
	"fmt"
	"github.com/yulog/mi-diary/model"
)

templ User(profile string, items []model.User) {
	<ul>
		for _, item := range items {
			<li>
				<a href={ templ.URL(fmt.Sprintf("/%s/users/%s", profile, item.Name)) }>
					{ item.DisplayName } ( { fmt.Sprintf("%d", item.Count) } )
				</a>
			</li>
		}
	</ul>
}
