package components

import (
	"fmt"
	"github.com/yulog/mi-diary/model"
)

templ user(profile string, items []model.User) {
	<ul class="tags">
		for _, item := range items {
			<li class="tag">
				<a href={ templ.URL(fmt.Sprintf("/profiles/%s/users/%s", profile, item.Name)) }>
					{ item.DisplayName } ( { fmt.Sprintf("%d", item.Count) } )
				</a>
			</li>
		}
	</ul>
}
